@import "../../theme.scss";

.favorites-no-data {
  height: 100%;

  font-size: 20px;
  color: $color-white;

  display: flex;
  align-items: center;
  justify-content: center;

  &__link {
    color: $color-blue;
    text-decoration: none;
    margin: 0 5px;
    cursor: pointer;
  }
}
