.images {
  padding: 2.5vw;
  display: grid;
  overflow: auto;
  max-height: calc(100% - 5vw);
}

@media screen and (min-width: 1200px) {
  .images {
    grid-template-columns: repeat(5, 20%);
  }
}

@media screen and (max-width: 1200px) {
  .images {
    grid-template-columns: repeat(4, 25%);
  }
}

@media screen and (max-width: 900px) {
  .images {
    grid-template-columns: repeat(3, 33%);
  }
}

@media screen and (max-width: 600px) {
  .images {
    grid-template-columns: repeat(2, 50%);
  }
}
