@import "../../theme.scss";

.image-details-camera {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  border-top: 1px solid $color-darkgray-4;
  padding: 12px 0;

  &-item {
    margin: 12px 0;

    &__label {
      font-size: 12px;
      font-weight: 500;
      color: $color-lightgray-4;
      margin-bottom: 4px;
    }

    &__value {
      font-size: 16px;
      font-weight: 500;
      color: $color-white;
    }
  }
}

@media screen and (max-width: 900px) {
  .image-details-camera {
    grid-template-columns: repeat(2, 50%);
  }
}

@media screen and (max-width: 600px) {
  .image-details-camera-item__value {
    font-size: 14px;
  }
}
