@import "./theme.scss";

.app {
  background-color: $color-darkgray-1;
  height: 100vh;
  margin-left: $app-bar-size;
  font-family: Roboto;
}

@media screen and (max-width: 800px) {
  .app {
    height: calc(100vh - $app-bar-size);
    margin-left: unset;
    margin-bottom: $app-bar-size;
  }
}
